   Aminor Amajor Bminor Bmajor Cminor Cmajor Dminor Dmajor Eminor Emajor Fminor Fmajor Gminor Gmajor  
Aminor  5  3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3    
Amajor  3  5  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3   
Bminor  -3  -3  5  3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  
Bmajor  -3  -3  3  5  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3    
Cminor  -3  -3  -3  -3  5  3  -3  -3  -3  -3  -3  -3  -3  -3   
Cmajor  -3  -3  -3  -3  3  5  -3  -3  -3  -3  -3  -3  -3  -3   
Dminor  -3  -3  -3  -3  -3  -3  5  3  -3  -3  -3  -3  -3  -3 
Dmajor  -3  -3  -3  -3  -3  -3  3  5  -3  -3  -3  -3  -3  -3   
Eminor  -3  -3  -3  -3  -3  -3  -3  -3  5  3  -3  -3  -3  -3  
Emajor  -3  -3  -3  -3  -3  -3  -3  -3  3  5  -3  -3  -3  -3  
Fminor  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  5  3  -3  -3    
Fmajor  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  3  5  -3  -3  
Gminor  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  5  3    
Gmajor  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  -3  3  5